@import "reset.css";
@import "variables.css";
/* component */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
/* screen */
@import "screen/login.css";
@import "screen/friends.css";
@import "screen/find.css";

    
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2e362e;
}

.main-screen{
    padding: 0px var(--horizontal-space);
}

.header__spot{
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
    position: absolute; 
    top: 48px;
    right: 46px;
}



